


<div ng-click="toggleInfo()" class="well comfy pointer" >
	<i  style="margin-top: 5px;" class="fa fa-info-circle fa-lg fa-pull-right blue "></i>
	<div ng-hide="!hideInfo">
		<span><i>"Come caricare le opere..."</i></span>
	</div>
	<div ng-hide="hideInfo">
		<h3>Come caricare le opere</h3>
		<strong>Immagini:</strong>
		<p>Si possono caricare immagini in formato <code>.jpg</code> o <code>.png</code>(max 1024KB)</p>
		<strong>Modelli 3D:</strong>
		<p>Si possono caricare file in formato <code>.obj</code> (max 1024KB). Si deve inoltre caricare il file <code>.mtl</code> con relative texture in formato <code>.jpg</code> o <code>.png</code></p>
		<strong>Thumbnails:</strong>
		<p>Per i modelli 3D &egrave; possibile creare una thumbnail caricando un file <code>.jpg</code> con lo stesso nome del file <code>.obj</code></p>
	</div>

</div>
<hr>
<h3>Scegli File Da Caricare</h3>
<input nv-file-select uploader="uploader" options="{{currentUser}}" type="file" multiple/><br/>

<h3>Coda di Upload</h3>
<p>File in coda: {{ uploader.queue.length}}</p>


<table class="table">
	<thead>
		<tr>
			<th width="50%">Nome</th>
			<th ng-show="uploader.isHTML5">Dimensioni</th>
			<th ng-show="uploader.isHTML5">Progresso</th>
			<th>Stato</th>
			<th>Azioni</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in uploader.queue">
			<td><strong>{{ item.file.name}}</strong></td>
			<!--<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>-->


			<td ng-show="uploader.isHTML5" nowrap>{{
				item.file.size / 1024/1024|number:2 }} MB
			</td>
			<td ng-show="uploader.isHTML5">
				<div class="progress" style="margin-bottom: 0;">
					<div class="progress-bar" role="progressbar"
						 ng-style="{ 'width': item.progress + '%' }"></div>
				</div>
			</td>
			<td class="text-center">
				<span ng-show="item.isSuccess"><i
						class="glyphicon glyphicon-ok"></i></span>
				<span ng-show="item.isCancel"><i
						class="glyphicon glyphicon-ban-circle"></i></span>
				<span ng-show="item.isError"><i
						class="glyphicon glyphicon-remove"></i></span>
			</td>
			<td nowrap>
				<button type="button" class="btn btn-success btn-xs"
						ng-click="item.upload()"
						ng-disabled="item.isReady || item.isUploading || item.isSuccess">
					<span class="glyphicon glyphicon-upload"></span>
					Carica
				</button>
				<button type="button" class="btn btn-warning btn-xs"
						ng-click="item.cancel()"
						ng-disabled="!item.isUploading">
					<span class="glyphicon glyphicon-ban-circle"></span>
					Annulla
				</button>
				<button type="button" class="btn btn-danger btn-xs"
						ng-click="item.remove()">
					<span class="glyphicon glyphicon-trash"></span>
					Elimina
				</button>
			</td>
		</tr>
	</tbody>
</table>

<div>
	<p>
		Progresso:

	<div class="progress" style="">
		<div class="progress-bar" role="progressbar"
			 ng-style="{ 'width': uploader.progress + '%' }"></div>
	</div>
</p>
<button type="button" class="btn btn-success btn-s"
		ng-click="uploader.uploadAll()"
		ng-disabled="!uploader.getNotUploadedItems().length">
	<span class="glyphicon glyphicon-upload"></span> Carica Tutti
</button>
<button type="button" class="btn btn-warning btn-s"
		ng-click="uploader.cancelAll()"
		ng-disabled="!uploader.isUploading">
	<span class="glyphicon glyphicon-ban-circle"></span> Annulla Tutti
</button>
<button type="button" class="btn btn-danger btn-s"
		ng-click="uploader.clearQueue()"
		ng-disabled="!uploader.queue.length">
	<span class="glyphicon glyphicon-trash"></span> Elimina Tutti
</button>
</div>

<div ng-controller="FilesController" data-ng-init="load()">

	<h3>Opere gi&agrave; caricate</h3>

	<table class="table">

		<tbody>
			<tr ng-repeat="file in files">
				<td>
					<a href="/api/containers/{{file.container}}/download/{{file.name}}"><strong>{{
						file.name}}</strong></a></td>
				<td>
				<td>
					<button type="button" class="btn btn-danger btn-xs"
							ng-click="delete($index, file.id, file.name)"
							title="Cancella il file">
						<span class="glyphicon glyphicon-trash"></span>
						Elimina
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
