<h3>Crea Haptic</h3>


<!--<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14-->
<div class="well">
	<form name="form"  ng-submit="create()">
	<div class="form-group">
			<label for="inputHapticName">Nome del pattern</label>
			<input type="text" class="form-control" id="inputHapticName"
				   placeholder="Nuovo haptic..." maxlength="80" required autofocus>
		</div>
	<table class="table">
		<caption>Aggiungi step al tuo pattern. = durata vibrazione, = intensitá vibrazione, = pausa</caption>
		<thead>
			<tr>
				<th class="text-center">Durata (ms)</th>
				<th class="text-center">Intensitá (0 &div; 1)</th>
				<th class="text-center">Pausa (ms)</th>
				<th class="text-center">Aggiungi Step</th>
			</tr>
		</thead>


		<tbody>
			<tr>

				<td class="text-center"><input ng-model="slider.sliderValue" id="haptic-slider-vibration-0" class="haptic-slider-vibration-0"
						   data-slider-id="haptic-slider-vibration-0"
						   type="text"
						   data-slider-min="0"
						   data-slider-max="1000"
						   data-slider-step="125"
						   data-slider-value="0"
						   data-slider-orientation="vertical"
						   /></td>

				<td class="text-center"><input id="haptic-slider-intensity-0" class="haptic-slider-intensity-0"
						   data-slider-id="haptic-slider-intensity-0"
						   type="text"
						   data-slider-min="0"
						   data-slider-max="1"
						   data-slider-step="0.125"
						   data-slider-value="0"
						   data-slider-orientation="vertical"
						   /></td>

				<td class="text-center"><input id="haptic-slider-pause-0" class="haptic-slider-pause-0"
						   data-slider-id="haptic-slider-pause-0"
						   type="text"
						   data-slider-min="0"
						   data-slider-max="1000"
						   data-slider-step="125"
						   data-slider-value="0"
						   data-slider-orientation="vertical"
						   /></td>

				<td class="text-center" style="vertical-align: middle;">
					<a ng-click="addStep()"><i class="fa fa-plus-circle fa-3x"></i></a>
				</td>

			</tr>
		</tbody>

	</table>
	</form>


	<div class="well">
		<canvas id="bar" class="chart chart-bar"
				chart-data="data" chart-labels="labels"> chart-series="series"
		</canvas>
	</div>



</div>
<!--<span id="create-haptic-slider-slider-0-value">Durata Vibrazione: <span id="slider-0-value">0</span> ms</span>-->