<div class="bd-box">
	<h2 class="form-create-museum-heading">Crea un nuovo museo</h2>
	<form name="form"  ng-submit="create()">
		<div class="form-group">
			<label for="inputMuseumName">Nome</label>
			<input type="text" class="form-control" id="inputMuseumName"
				   ng-model="museum.name" placeholder="Nome" maxlength="80" required autofocus>
		</div>
		<div class="form-group">
			<label for="inputMuseumDescription">Descrizione</label>
			<textarea class="form-control" id="inputMuseumDescription"
					  ng-model="museum.description" rows="5" maxlength="500"
					  placeholder="Descrizione...(max 500 caratteri)" required autofocus></textarea>
		</div>
		<div class="form-group">
			<label for="inputMuseumThumb">Thumbnail</label>
			<input type="text" class="form-control" id="inputMuseumThumb"
				   ng-model="museum.thumbnail" placeholder="img/museums/thumbs/default.png" maxlength="80" required autofocus>
		</div>
		<div class="form-group">
			<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="museum.isOpen"> Aperto
			</label>
		</div>
		</div>

		<button type="submit" class="btn btn-default">Crea</button>
	</form>
</div>