<h3>Miei Musei</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Descrizione</th>
			<th>Aperto</th>
			<th>Azioni</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="museum in museums">
			<td>{{museum.name}}</td>
			<td>{{museum.description}}</td>
			<td ng-bind-html="museum.isOpen | boolconverter"></td>
			<td><button type="button" class="btn btn-default btn-xs"
						ui-sref="area-clienti.modifica-museo({ id: museum.id })"
						title="Modifica Museo">
					<span class="glyphicon glyphicon-edit"></span>
					Modifica
				</button>
			</td>
		</tr>
	</tbody>
</table>