<div class="bd-box">
	<h2 class="form-edit-museum-heading">Modifica i dettagli della opera</h2>
	<form name="form"  ng-submit="submitForm()">
		<div class="form-group">
			<label for="inputArtWorkName">Nome</label>
			<input type="text" class="form-control" id="inputArtWorkName"
				   ng-model="artWork.name" placeholder="" maxlength="80" required autofocus>
		</div>
		<div class="form-group">
			<label for="inputArtDescription">Descrizione</label>
			<textarea class="form-control" id="inputMuseumDescription"
					  ng-model="artWork.description" rows="5" maxlength="500"
					  placeholder="" required autofocus></textarea>
		</div>
		<div>
			<a href="{{file.url}}">
							<img ng-src="{{artWork.url}}" class="img-responsive thumb"/>
			</a>
		</div>

		<button type="submit" class="btn btn-default">Salva</button>
	</form>
</div>