<h2>Opere</h2>

<div ng-controller="FilesController" data-ng-init="load()">

	<h3>Opere gi&agrave; caricate</h3>

	<table class="table">

		<tbody>
			<tr ng-repeat="file in files">
				<td>
					<a href="{{file.url}}">
						<img ng-src="{{file.url}}" class="thumb thumbnail"/>
					</a>
				</td>
				<td>
					<a href="{{file.url}}"><strong>{{
									file.name}}</strong></a>
				</td>
				<td>
				<td>
					{{file.description}}
				</td>
				<td>
				<td>
					<button type="button" class="btn btn-default btn-xs btn-table"
						ui-sref="area-clienti.modifica-opera({ id: file.id })"
						title="Modifica Opera">
					<span class="glyphicon glyphicon-edit"></span>
					Modifica
				</button>
					<button type="button" class="btn btn-default btn-xs btn-table"
							ng-click="delete($index,file.id, file.url)"
							title="Cancella il file">
						<span class="glyphicon glyphicon-trash"></span>
						Elimina
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>