/*global*/
* {
	margin:0;
	padding:0;
}
html {
	position: relative;
	min-height: 100%;
}

/*body*/
body{
	background-color: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #373a3c;
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
body > .container {
	padding: 60px 15px 0;
}

p {
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/*
 * Global add-ons
 */
.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

label {
	/*display:inline-block;
	text-align:right;
	vertical-align:middle;
	width:200px;*/
}

label {
    display: inline-block;
    margin-bottom: .5rem;
	font-weight: normal;
}

/*navbar*/
.navbar-static-top {
	margin-bottom: 19px;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border: 0;
}


/* DASHBOARD */
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	display: none;
}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}


/* sticky footer*/
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #222;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

.container .text-muted {
	margin: 20px 0;
}

/*
 * Main content
 */

.main {
	padding: 20px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
.main .page-header {
	margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
	margin-bottom: 30px;
	text-align: center;
}
.placeholders h4 {
	margin-bottom: 0;
}
.placeholder {
	margin-bottom: 20px;
}
.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

/*signup form*/
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.bd-box {
	position: relative;
	padding: 1rem;
	margin: 1rem -1rem;
	border: solid #f7f7f9;
	border-width: .2rem 0 0;
	background-color: #f5f5f5;
}

/* Box Container */
@media (min-width: 544px)
{
	.bd-box {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
		padding: 1.5rem;
		border-width: .2rem;
	}

}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
	height: 500px;
	margin-bottom: 60px;
}

.carousel-image
{
	width: 900px;
	max-width: 800px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
	opacity: 0.8;
	background-color: #111;
	color: white;
	bottom: 0;
	padding-top: 0px;

}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 550px;
	background-color: white;
}

.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: auto;
}

.carousel-control.left, .carousel-control.right {
	background-image:none !important;
	filter:none !important;
	display: none;
}

.carousel-control {
	opacity: 1;
}

.carousel-control:hover {
	opacity: 0.5;
}

.carousel-indicators
{
	bottom: -50px;
}

.gray
{
	color: #222;
}

.portfolio-item {
    margin-bottom: 25px;
}

/* CUSTOMIZE LABEL OF TITLES */
.title
{
	background-color: #f5f5f5;
	word-break: normal;
	display: inline-block;
	padding: 40px 15px;
	vertical-align: middle;
	font-weight: 700;
}

.title-subtitle
{
	text-transform: uppercase;
}

/* NEWS POST CUSTOMIZATION */
.post-author
{
	display: inline-block;
	margin: 0 12px 5px 0;
	vertical-align: middle;
}
.post-date
{
	color: #337ab7;
	display: inline-block;
	margin: 0 12px 5px 0;
	vertical-align: middle;
}

.post-category
{
	display: inline-block;
	margin: 0 12px 5px 0;
	vertical-align: middle;
}

.post-likes
{
	display: inline-block;
	margin: 0 12px 5px 0;
	vertical-align: middle;
}
.post-body
{
	line-height: 20px;
}

canvas {
	background-color: #f3f3f3;
	-webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
	-moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
	box-shadow: 3px 3px 3px 0 #e3e3e3;
	border: 1px solid #c3c3c3;
	height: 100px;
	margin: 6px 0 0 6px;
}

ul
{
	list-style: none;
}

.inizio-button
{

	margin-top: 30px;
	min-width: 230px;
}


/* ------------- VIBRATION TIME SLIDER ------------- */


#haptic-slider-vibration-0 .slider-selection
{
	background: #e3e3e3;
}

#haptic-slider-vibration-0 .slider-track,
#haptic-slider-vibration-0 .tooltip-inner

{
	background: #428bca;
}


/* ------------- VIBRATION INTENSITY SLIDER ------------- */


#haptic-slider-intensity-0 .slider-selection
{
	background: #e3e3e3;
}

#haptic-slider-intensity-0 .slider-track,
#haptic-slider-intensity-0 .tooltip-inner,
#haptic-slider-intensity-0 .slider-handle

{
	background: #5cb85c;
}

/* ------------- VIBRATION PAUSE SLIDER ------------- */



#haptic-slider-pause-0 .slider-selection
{

	background: #e3e3e3;
}

#haptic-slider-pause-0 .slider-track,
#haptic-slider-pause-0 .slider-handle,
#haptic-slider-pause-0 .tooltip-inner
{
	background: #101010;
}


/* -------- */

/* UNITY */

div.logo { width: 204px; height: 38px; float: left; background: url(logo.png) 0 0 no-repeat; position: relative; z-index: 10; }
div.title { height: 38px; line-height: 38px; padding: 0 10px; margin: 0 1px 0 0; float: right; color: #333; text-align: right; font-size: 18px; position: relative; z-index: 10; }
.template-wrap { }
.template-wrap canvas { margin: 0 0 10px 0; position: relative; z-index: 9;  }
.fullscreen { float: right; position: relative; z-index: 10; }

body.template { }
.template .template-wrap { }
.template .template-wrap canvas { }

.emscripten{
	width: 800px;
	height: auto;
}
