
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
            <li ui-sref-active-eq="active">
				<a ui-sref="area-clienti">Inizio <i class="fa fa-lg fa-home fa-pull-right"></i></a>
			</li>
		</ul>
		<ul class="nav nav-sidebar">
			<li ui-sref-active="active">
				<a ui-sref="area-clienti.crea-museo" >Crea Museo <i class="fa fa-lg  fa-plus-circle fa-pull-right"></i></a>
			</li>
            <li ui-sref-active="active">
				<a ui-sref="area-clienti.miei-musei">I Miei Musei <i class="fa fa-lg fa-university fa-pull-right"></i></a>
			</li>
            <li ui-sref-active="active">
				<a ui-sref="area-clienti.musei">Tutti i Musei <i class="fa fa-lg  fa-th-list fa-pull-right"></i></a>
			</li>
		</ul>
		<ul class="nav nav-sidebar">
            <li ui-sref-active="active">
				<a ui-sref="area-clienti.opere">Opere <i class="fa fa-lg fa-paint-brush fa-pull-right"></i></a>
			</li>
            <li ui-sref-active="active">
				<a ui-sref="area-clienti.carica-opera" >Carica Opera <i class="fa fa-lg  fa-upload fa-pull-right"></i></a>
			</li>
		</ul>
		<ul class="nav nav-sidebar">
            <li ui-sref-active="active">
				<a ui-sref="area-clienti.haptic">Haptic <i class="fa fa-lg fa-hand-pointer-o fa-pull-right"></i></a>
			</li>
            <li ui-sref-active="active">
				<a ui-sref="area-clienti.crea-haptic" >Crea Haptic <i class="fa fa-lg  fa-bar-chart fa-pull-right"></i></a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="area-clienti.scarica-haptic" >Scarica Haptic <i class="fa fa-lg  fa-download fa-pull-right"></i></a>
			</li>
		</ul>
		<ul class="nav nav-sidebar">
            <li ui-sref-active="active">
				<a ui-sref="area-clienti.editor-vr">Editor VR <i class="fa fa-lg  fa-eye fa-pull-right"></i></a>
			</li>
		</ul>

	</div>
	<div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-1 main">
		<h3 class="page-header">Area Clienti</h3>
		<div ui-view>
			<h2>Inizio</h2>

			<ul>
				<li>
					<a class="btn btn-lg btn-primary inizio-button" ui-sref="area-clienti.crea-museo"><i class="fa fa-plus-circle fa-3x fa-pull-left"></i> Crea Museo</a>
				</li>
				<li>
					<a class="btn btn-lg btn-primary inizio-button" ui-sref="area-clienti.carica-opera"><i class="fa fa-upload fa-3x fa-pull-left"></i> Carica Opera</a>
				</li>
				<li>
					<a class="btn btn-lg btn-primary inizio-button" ui-sref="area-clienti.editor-vr"><i class="fa fa-eye fa-3x fa-pull-left"></i> Editor VR</a>
				</li>
			</ul>




		</div>
	</div>

