
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
            <li ui-sref-active-eq="active">
				<a ui-sref="area-clienti">Inizio <span class="glyphicon glyphicon-home pull-right"></span></a>
			</li>
		</ul>
		<ul class="nav nav-sidebar">
            <li ui-sref-active="active">
				<a ui-sref="area-clienti.miei-musei">I Miei Musei</a>
			</li>
            <li ui-sref-active="active">
				<a ui-sref="area-clienti.crea-museo" >Crea Museo</a>
			</li>
            <li ui-sref-active="active">
				<a ui-sref="area-clienti.musei">Tutti i Musei</a>
			</li>
		</ul>
		<ul class="nav nav-sidebar">
            <li ui-sref-active="active">
				<a ui-sref="area-clienti.opere">Opere</a>
			</li>
            <li ui-sref-active="active">
				<a ui-sref="area-clienti.carica-opera" >Carica Opera</a>
			</li>
		</ul>
		<ul class="nav nav-sidebar">
            <li ui-sref-active="active">
				<a ui-sref="area-clienti.haptic">Haptic</a>
			</li>
            <li ui-sref-active="active">
				<a ui-sref="area-clienti.crea-haptic" >Crea Haptic</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="area-clienti.scarica-haptic" >Scarica Haptic</a>
			</li>
		</ul>
		<ul class="nav nav-sidebar">
            <li ui-sref-active="active">
				<a ui-sref="area-clienti.editor-vr">Editor VR</a>
			</li>
		</ul>

	</div>
	<div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-1 main">
		<h1 class="page-header">Area Clienti</h1>
		<div ui-view>
			<h3>Inizio</h3>
		</div>
	</div>

