<div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="nav nav-sidebar">
            <li ui-sref-active="active">
				<a ui-sref="dashboard.user-museums">I Tuoi Musei</a>
			</li>
            <li ui-sref-active="active">
				<a ui-sref="dashboard.create-museum" >Crea Museo</a>
			</li>
            <li>
				<a ui-sref="dashboard.all-museums">Tutti i Musei</a>
			</li>
		</ul>
		<ul class="nav nav-sidebar">
            <li ui-sref-active="active">
				<a ui-sref="dashboard.user-museums">Opere</a>
			</li>
            <li ui-sref-active="active">
				<a ui-sref="dashboard.create-museum" >Carica Opera</a>
			</li>
		</ul>
		<ul class="nav nav-sidebar">
            <li ui-sref-active="active">
				<a ui-sref="dashboard.user-museums">Libreria Haptic</a>
			</li>
            <li ui-sref-active="active">
				<a ui-sref="dashboard.create-museum" >Crea Haptic</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="dashboard.create-museum" >Scarica Haptic</a>
			</li>
		</ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h1 class="page-header">Area Clienti</h1>
		<div ui-view></div>
	</div>
</div>
